{% extends "base.html" %}

{% block styles %}
{% end %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to <br/>Sayuri Conference Consultant!</h1>
            <p>Sayuri is super consultant for conference. She judges that value of your conference.</p>
            <br/><br/>
            <form method="POST" action="/login">
                {% module xsrf_form_html() %}
                <input type="submit" class="btn btn-primary btn-lg" value="OAuth with xxxx" />
            </form>
        </div>
    </div>
{% end %}

{% block scripts %}
{% end %}
