{% extends "base.html" %}

{% block styles %}
    <style>
        .screen {
            width: 96%; // whatever width you want
            display: inline-block;
            position: relative;
            border-radius:7px;
        }
        .screen:after {
            padding-top: 56.25%; // 16:9 ratio
            display: block;
            content: '';
        }
        .message{
            border-left: 5px solid silver;
            padding: 5px;
            margin-left: 10px;
            margin-bottom:5px;
        }
        .conference{
            border: 1px solid silver;
            padding: 5px;
            border-radius: 5px;
            height:50px;
            margin-bottom:5px;
        }
    </style>
{% end %}

{% block content %}
    <div class="col-md-10" style="max-width:640px;margin-left:-30px;">
        <div class="column-header form-inline">
            <input id="txtConfName" class="form-control" style="width:65%" type="text" placeholder="conference title" data-bind="value: cf.conferenceName, enable: !cf.isOpen()"/>
            <input id="txtMinutes" class="form-control" style="width:20%" type="text" placeholder="minutes" data-bind="value: cf.conferenceTime, enable: !cf.isOpen()"/>
            <button id="btnCfBegin" type="submit" class="btn btn-primary" style="width:10%" data-bind="click:startConference, visible:!cf.isOpen()">Start</button>
            <button id="btnCfEnd" type="submit" class="btn btn-danger" style="width:10%" data-bind="click:cf.end, visible:cf.isOpen()">Stop</button>
        </div>
        <br style="clear:both"/>
        <div>
            <div id="sight">
                <div>
                    <video class="screen"></video>
                    <!-- <input id="capture" type="button" style="width:300px" value="Capture" /> -->
                    <br/>
                    <img class="screen" src="" style="display:none;">
                    <canvas style="display:none;"></canvas>
                </div>
            </div>
            <div id="sayuri-evaluation" style="max-height:150px;overflow:auto">
                <canvas id="chart" width="585px" height="120px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4"  style="max-width:380px;">
        <div id="conference-list" data-bind="foreach: cf.conferences" style="margin-top:52px;">
            <div class="conference" data-bind="text: title"></div>
        </div>
    </div>
{% end %}

{% block scripts %}
    <!-- Modal -->
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div data-bind="text: alertMessage"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/static/index.js"></script>
{% end %}
